<ion-header>
  <ion-navbar>
    <ion-title>Alerts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <div padding *ngIf="alerts && alerts.length > 0">
    <div *ngFor="let alert of alerts">
      <ion-chip (click)="handleClick(alert, $event)">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-label style="font-size:1.2em">{{cleanedMsg(alert)}}</ion-label>
      </ion-chip>
    </div>
  </div>
  <div padding *ngIf="!alerts || alerts.length == 0">
    No alerts at this time...
  </div>
</ion-content>
