<ion-header>
  <ion-navbar>
    <ion-title>Chat</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="refreshState()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <div padding>
    <ion-list>
      <ion-item *ngFor="let chat of chats">
        <div (click)="handleClick(chat)">{{cleanedMsg(chat)}}</div>
        <div style="float:right; font-size:0.9em" *ngIf="chat.poster">{{chat.posterName}}</div>
      </ion-item>

      <ion-item>
          <ion-input type="text" name="text" placeholder="chat" [(ngModel)]="enteredChat"></ion-input>
      </ion-item>
      <ion-item>
          <button ion-button type="submit" value="Post" (click)="postChat()">Post</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
