<ion-header>
  <ion-navbar>
    <ion-title>Heroes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <!--<div *ngIf="!started">-->
    <!--<div padding>-->
      <!--Game has not started...-->
    <!--</div>-->
  <!--</div>-->
  <div padding>
    <div *ngFor="let player of players" padding>
      <h3>{{player.alias}} ({{player.name}})</h3>
      <div>Score: {{player.score}} points</div>
      <div *ngIf="started">
        <button ion-button (click)="initiateTrade(player, $event)">
          <ion-label>Trade</ion-label>
          <ion-icon name="swap"></ion-icon>
        </button>
        <button ion-button (click)="invite(player, $event)">
          <ion-label>Invite</ion-label>
          <ion-icon name="megaphone"></ion-icon>
        </button>
      </div>
    </div>
  </div>

</ion-content>
