<ion-header>
  <ion-navbar>
    <ion-title>Them</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="errorMessage">{{errorMessage}}</div>

  <ion-segment [(ngModel)]="selectedSort">
    <ion-segment-button value="alpha">Alphabetical</ion-segment-button>
    <ion-segment-button value="score">By score</ion-segment-button>
  </ion-segment>

  <div padding>

    <div [ngSwitch]="selectedSort">
      <div *ngSwitchCase="'alpha'">
        <div *ngFor="let hero of players" padding>
          <ion-chip (click)="revealHero(hero)">
            <ion-icon name="body" color="dark"></ion-icon>
            <ion-label>{{hero.alias}} ({{hero.score}})</ion-label>
          </ion-chip>

          <div *ngIf="started && hero.id != player.id">
            <button ion-button (click)="initiateTrade(hero, $event)">
              <ion-label>Trade</ion-label>
              <ion-icon name="swap"></ion-icon>
            </button>
            <button ion-button (click)="invite(hero, $event)">
              <ion-label>Invite</ion-label>
              <ion-icon name="megaphone"></ion-icon>
            </button>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'score'">
        <div *ngFor="let hero of scorePlayers" padding>
          <ion-chip (click)="revealHero(hero)">
            <ion-icon name="body" color="dark"></ion-icon>
            <ion-label>{{hero.alias}} ({{hero.score}})</ion-label>
          </ion-chip>

          <span *ngIf="started && hero.id != player.id">
            <button ion-button (click)="initiateTrade(hero, $event)">
              <ion-label>Trade</ion-label>
              <ion-icon name="swap"></ion-icon>
            </button>
            <button ion-button (click)="invite(hero, $event)">
              <ion-label>Invite</ion-label>
              <ion-icon name="megaphone"></ion-icon>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>


</ion-content>
